[submodule "typescriptt"]
	path = typescriptt
	url = https://github.com/AR-BABER/Metaverse.git
[submodule "typescriptt"]
	path = typescriptt/assigment 1
	url = https://github.com/AR-BABER/Metaverse.git